
#sign  .ng-invalid { background-color: lightpink; }
#sign .ng-valid { background-color: lightgreen; }
span.error { color: red; font-weight: bold; }

.navbar-right { float: right !important; margin-right: 5px;}
.navbar-text { margin-right: 10px; color: green}

.tag {margin-right: 5px;}
