<!-- The list articles view -->

<section ng-include="'example/views/example.client.view.html'"></section>

<div id="content" class="panel-body">
	<div class="row">
		<div class="col-sm-10 col-md-6">
			<section data-ng-controller="ArticlesController" data-ng-init="find()">
				<div class="bs-component" data-ng-controller="listData">
					<form class="form-inline">
						<div class="form-group">
							<label>Search</label>
							<input type="text" ng-model="search.tags" class="form-comtrol" placeholder="search by tag" autofocus>
						</div>

					</form>

					<h1>List of Sites</h1>

						<!-- The list of article -->
					<div class="table-responsive">
						<table class="table table-stripped table-hover table-condensed">
							<thead>
								<tr>
									<th ng-click="sort('title')">Site title
										<span class="glyphicon sort-icon" ng-show= "sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th>Short link</th>
									<th ng-click="sort('created')">Created
										<span class="glyphicon sort-icon" ng-show= "sortKey=='created'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th ng-click="sort('creator.fullName')">Creater
										<span class="glyphicon sort-icon" ng-show= "sortKey=='creator.fullName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
									</th>
									<th>Description</th>
									<th>Tags</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="article in articles |filter:search|itemsPerPage:4|orderBy:sortKey:reverse">
									<td><a data-ng-href="#!/articles/{{article._id}}" class="btn btn-default btn-xs" data-ng-bind="article.title" id="ArticleBtn"></a></td>
									<td><a href="#!/{{article.websiteShort}}" ng-click="hrefCount(article)">http://localhost:3000/#!/{{article.websiteShort}}</a></td>
									<!-- <td><a ng-click="hrefCount(article)">{{article.websiteShort}}</a></td>-->
									<td>{{article.created | date:'medium'}}</td>
									<td>{{article.creator.fullName}}</td>
									<td>{{article.content}}</td>
									<td><a href="#!/tags/{{tag}}" class="btn btn-info btn-xs tag" ng-repeat="tag in article.tags|orderBy:tag">{{tag}}</a></td>
								</tr>
							</tbody>
							<dir-pagination-controls
									max-size="5"
									direction-links="true"
									boundary-links="true">
							</dir-pagination-controls>
						</table>
					</div>
					<!-- If there are no articles in the list, suggest the user's create a new article -->
					<div data-ng-hide="!articles || articles.length">
						No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
					</div>
				</div>

			</section>
		</div>
	</div>
</div>
